// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.myclass{
	color: red;
}

.mypub{
	color: #FFCC00;
}

.mytable{
   text-align: center;
    border-style: inset;
	padding: 10px;
	margin: 10px;
	background: #CC99FF;
}

.mylink{
	color: #FF66FF;
	font-size: 20pt;
}